# ===================================================================
# tpDcc-tools-renamer requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
tpDcc-libs-nameit