# ===================================================================
# tpRigToolkit-tools-renamer requirements file
# ===================================================================
pyyaml
lucidity
tpDcc-tools-renamer