# ===================================================================
# tpDcc-tools-renamer requirements file
# ===================================================================
tpDcc-libs-qt==0.0.17
tpDcc-libs-nameit==0.0.7